.temCart{
    display: flex;
    border-bottom: 1px solid gray;
    max-width: 500px;
    margin: 1rem auto;
}

.itemCart img{
    width: 200px;
    margin-right: 1rem;
}

.botonEliminar{
    background-color: rgb(202, 47, 47);
    margin: 0 auto;
    padding: 5px;
    border: none;
    border-radius: 5px;
    
}