.quees{
    margin-top: 2rem;
    font-size: 2rem;
    color: rgb(0, 0, 0);
    text-align: center;
    background-color:rgba(149, 149, 149, 0.911);
    border-radius: 3rem;
    box-shadow: .7rem .5rem 1rem -.1rem;

}

.separacionTextoInicio p,h3,ul{
    margin-top: 2rem;
    font-size: 1.1rem;
    color:rgba(240, 248, 255, 0.631);
    padding: 5rem;
}
