*{
    margin: 0;
    padding: 0;
    box-sizing:  border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.tituloAirsoft{
    text-align: center;
    margin: 2rem ;
    
}
.marcadoras{
    height: 2rem;
}

.App-header{
    background-image: linear-gradient(to left top, #212529, #2a2f33, #33383d, #3c4348, #464d53);}