*{
    margin: 0;
    padding: 0;
    box-sizing:  border-box;
}

.tituloAirsoft{
    text-align: center;
    margin: 2rem ;
}
.marcadoras{
    height: 2rem;
}

.App-header{
    background-color: rgb(115, 115, 115);
}