.counter{
    width: fit-content;
    background-color: rgb(69, 69, 69);
    margin: 2rem auto ;
    padding: 2rem;
    text-align: center;
    border-radius: 3rem;
}
.numeroCarrito{
    margin: 0 1rem;
    color: aliceblue;
    font-size: 1rem;
}
.botonContador{
    padding: .4rem;
    color: aliceblue;
    border-radius: 3rem;
    border: none;
}
.botonCarrito{
    margin-top: .6rem;
    border-radius: 1rem;
    background-color: rgba(255, 225, 58, 0.866);
    border: none;
}