.formularioContainer {
    margin: auto;
    width: 400px;
    padding: 30px;
    border-radius: 4px;
    background: #24303c;
    border-radius: 8px;
    color: white;
    box-shadow: 7px 13px 37px #000;
}
.formularioContainer p{
    height: 40px;
    text-align: center;
    font-size: 18px;
}
.formularioContainer a{
    text-decoration: none;
    color: white;
}

.formularioContainera:hover{
    color: white;
    text-decoration: underline;
}

.formularioContainer div{
    margin: .6rem;
    color: aliceblue;
    padding: .6rem;
}

.divForm h2 {
    text-align: center;
    color: aliceblue;
    margin: 2rem 0;
}

.labelForm{
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid rgb(0, 28, 92);
    font-size: 18px;
    background: #24303c;
    color: white;
}

.formTelefono{
    margin-right: 2rem;
}
.formPais{
    margin-bottom: 1rem;
}

.botonEnviar{
    border: none;
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    background: #1f53c5;
    color: white;
    margin: 16px 0;
    transition: .5s;
}

.botonEnviar:hover{
    background: #1f92fd;
}